@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bytesized&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bytesized&family=PT+Sans+Narrow:wght@400;700&display=swap');

     .bytesized-regular {
          font-family: "Bytesized", sans-serif;
          font-weight: 400;
          font-style: normal;
     }
     .anton-regular {
          font-family: "Anton", sans-serif;
          font-weight: 400;
          font-style: normal;
     }
     .pt-sans-narrow-regular {
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 400;
          font-style: normal;
     }

     .pt-sans-narrow-bold {
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 700;
          font-style: normal;
     }
   
/******************************************************************************************************************
***************DESAFIO DE PROJETO - Lógica de Programação - Nazaré do Piauí 18/03 ********************************/

/*** Edição do body e estilos do corpo...... */
     body{
          padding: 0; margin: 0 auto; 
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: 400; font-style: normal;
     }
     main, header, footer{ text-align: center;}
     .game_name{
          font-size: 8rem; background-clip: text; width: 100%;
     }
     .container{
          display: flex; justify-content: center; text-align: center; align-items: center;
     }
     .zeldiano_hero img{
          width: 400px; height: 800px; object-fit: contain; object-position: center;
     }
