@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bytesized&family=Monoton&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bytesized&family=Monoton&family=PT+Sans+Narrow:wght@400;700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Anton&family=Bytesized&family=Monoton&family=PT+Sans+Narrow:wght@400;700&family=Press+Start+2P&display=swap');

/******************************************************************************************************************
***************DESAFIO DE PROJETO - Lógica de Programação - Nazaré do Piauí 18/03 ********************************/

    /*** Fontes do GOOGLE  */
        .monoton-regular {
            font-family: "Monoton", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .press-start-2p-regular {
            font-family: "Press Start 2P", system-ui;
            font-weight: 400;
            font-style: normal;
        }

        .texto {
            font-family: "42dot Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }    
/****************************************************************************************************
********* Estilização do BODY */

        body{
            margin: 0 auto; padding: 0;
            flex-wrap: wrap; min-width: 360px;             
        }
        main{ background-color: #565a59; color: aliceblue; }
        p{ font-size: 1.4rem; }
        ul li{ list-style: none;}
        header,footer{ text-align: center;}

/****************************************************************************************************
********* Estilização dos itens do HEADER */
        header {
            --s: 82px; /* control the size*/
            --c1: #a98ac1;
            --c2: #fbf4a2;
            --c3: #36d3c1;

            --_g: var(--c3) 0 120deg,#0000 0;
            background:
            conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
            conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
            conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
            conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
            linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                                var(--c1) 0 calc(500%/6),var(--c2) 0);
            background-size: calc(1.732*var(--s)) var(--s);
            margin-top: -5%;
        }     
        .h1{
            font-size: 6rem;  font-family: "Monoton", sans-serif; font-weight: 200;
            word-spacing: 20px; background-color: var(--c1); color: var(--c2);
            border-bottom: dotted 18px #36d3c1 ; margin: 5%; margin-top: 5%;
        }
        .tito{ 
            padding: 40px; color: #f5f599; 
            text-shadow: 2px 4px 18px #2e2635, 4px 8px 22px #2e2635, 8px 16px 42px #2e2635;
       }

/****************************************************************************************************
******* Estilização da div das MOEDAS */

        .recompensa{
            width: 760px; height: 300px; text-align: center;
            flex-wrap: wrap; margin: auto; line-height: 32px; position: relative;
            display: block; padding: 25px;  font-family: "Press Start 2P", system-ui;
        }
        .recompensa img{ width: 100px; display: block; margin: auto; position: absolute; top: -1px; left: -2px;}
        .recompensa button{ 
            width: 100px; height: 100px; border-radius: 50%; position: relative; 
            animation: moeda 3s ease-in-out alternate infinite; 
            background: radial-gradient(circle, rgba(236,226,71,0.9551470246301645) 0%, rgba(147,129,23,1) 47%, rgba(242,224,115,0.8122898817730217) 100%);
        }
        @keyframes moeda {
            to{
                box-shadow: 2px 24px 56px #f5f599;
            } 
        }
        #resultado{ color: #fde445; font-size: 1.5rem; }

/****************************************************************************************************
********* Estilização das GRADES DOS HERÓIS... */
        .zona_zeldiana { 
            display: flex; flex: wrap; justify-content: center; width: 100%; 
            border-bottom: dotted 8px #36d3c1 ;
        }
        .zeldiano_hero, .info_hero{ width: 45%;}
        .zeldiano_hero{ 
            text-align: center;
            width: 100vh;  font-family: "Press Start 2P", system-ui; margin: 10px;
            color: #a98ac1; text-shadow: 2px 2px 0 #effbf9; font-size: 1.6rem;
            filter: drop-shadow( 10px 30px 40px #a98ac1); line-height: 32px;  
        }
        .zeldiano_hero img{
            width: 360px; height: 500px;
        }     
        .zeldiano_hero:nth-child(1):hover{
            animation: zeldiano_hero 3s ease-in-out alternate infinite;                 
        }
        .zeldiano_hero:nth-child(2):hover{
            animation: zeldiano_hero 3s ease-in-out alternate infinite;          
        }
        .zeldiano_hero:nth-child(3):hover{
            animation: zeldiano_hero 3s ease-in-out alternate infinite;           
        }
        .zeldiano_hero:nth-child(4):hover{
            animation: zeldiano_hero 3s ease-in-out alternate infinite;           
        }
        .zeldiano_hero:nth-child(5):hover{
            animation: zeldiano_hero 3s ease-in-out alternate infinite;           
        }
        .zeldiano_hero:nth-child(6):hover{
            animation: zeldiano_hero 3s ease-in-out alternate infinite;           
        }
        .zeldiano_hero:nth-child(7):hover{
            animation: zeldiano_hero 3s ease-in-out alternate infinite;           
        }
        .zeldiano_hero:nth-child(8):hover{
            animation: zeldiano_hero 3s ease-in-out alternate infinite;           
        }
        @keyframes zeldiano_hero {
            to{
                transform: scale(1);
                filter: drop-shadow( 10px 30px 40px #fdfbc9);
                background-image: url("../Imagens/estrela-bkg.png");
                font-size: 2rem; color: #fffca3;
                font-family: "Press Start 2P", system-ui; text-align: center; 
                text-shadow: 2px 4px 18px #2e2635, 4px 8px 22px #2e2635, 8px 16px 42px #2e2635;
            }
        }
        .info_hero{ 
            margin-top: 5%; 
            font-family: "Press Start 2P", system-ui; font-size: 1.3rem; line-height: 40px;
        }
        .info_hero span{ color: #fde445; text-shadow: 2px 2px 0 #a98ac1; text-align: left;}
        .answer{ color: #36d3c1;}
/****************************************************************************************************
********* Estilização das JANELAS MODAIS DOS HERÓIS... */ 

        .btn{
            padding: 20px 20px 20px 20px; margin: 25px; border-radius: 50px;
            font-family: "Press Start 2P", system-ui; font-size: 1.2rem;
            background: linear-gradient(45deg, #a98ac1 20%, #36d3c1 50%, #f5f599 70%);
            margin-top: 90px; 
            animation: moeda 3s ease-in-out alternate infinite;   
        }
        .btn:hover{
            color: #effbf9; border-style: inset; text-shadow: 2px 2px 0 #2e2635;
                     
        }
        .janela-modal,.janela-modal2,.janela-modal3,
        .janela-modal4,.janela-modal5,.janela-modal6,
        .janela-modal7,.janela-modal8
        {
            width: 100vh; height: 100vh; position: relative; top: 0; left: 0;
            background-color: rgba(0,0,0, 0.5);
            display: none; align-items: center; justify-content: center; 
            z-index: 999; border-radius: 30%;
        }
        .modal,.modal2,.modal3,
        .modal4,.modal5,.modal6,
        .modal7,.modal8
        {
            width: 60%; min-width: 360px; min-height: 200px;
            background-color: rgba(241, 221, 250, 0.589);
            backdrop-filter: blur(10px);
            padding: 30px;  border-radius: 20px;
        }
        .fechar,.fechar2,.fechar3,.fechar4,
        .fechar5,.fechar6,.fechar7,.fechar8
        {
            position: absolute; top: -10px; right: -15px; 
            width: 30px; height: 30px;
            border-radius: 50%; border: 0;
            background-color: red; color: #fff;
            font-size: 20px; cursor: pointer;
        }
        .janela-modal.abrir{ display: flex; }
        .janela-modal2.abrir2{ display: flex; }
        .janela-modal3.abrir3{ display: flex; }
        .janela-modal4.abrir4{ display: flex; }
        .janela-modal5.abrir5{ display: flex; }
        .janela-modal6.abrir6{ display: flex; }
        .janela-modal7.abrir7{ display: flex; }
        .janela-modal8.abrir8{ display: flex; }
        

        .abrir .modal, .abrir2 .modal2, .abrir3 .modal3, .abrir4 .modal4,
        .abrir5 .modal5, .abrir6 .modal6, .abrir7 .modal7, .abrir8 .modal8
        { animation: abrirModal 0.5s; }


        @keyframes abrirModal {
            from{
                opacity: 0; transform: translate3d(0, -20px, -5px);
            }
            to{
                opacity: 1; transform: translate3d(0,0,0);
            }
        }
        


/****************************************************************************************************
************ Estilização dos itens do FOOTER */
        footer {
            --s: 82px; /* control the size*/
            --c1: #a98ac1;
            --c2: #fbf4a2;
            --c3: #36d3c1;
            --_g: var(--c3) 0 120deg,#0000 0;

            background:
            conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
            conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
            conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
            conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
            linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                                var(--c1) 0 calc(500%/6),var(--c2) 0);
            background-size: calc(1.732*var(--s)) var(--s);
            padding: 50px;
            font-family: "42dot Sans", sans-serif;
        }